.vs/
.idea/
.vscode/
**/bin/
**/obj/
artifacts/
TestResults/
coverage/
.packages/
.dotnet/
*.user
*.suo
*.nupkg
*.snupkg
*.trx
*.coverage
*.coveragexml
node_modules/
frontend/dist/
build/bin/
frontend/wailsjs/
frontend/package.json.md5
*.exe
*.syso
